    body {
        padding-bottom: 20px;
    }
    
    .navbar {
        margin-bottom: px;
        border-bottom: 0vmax;
    }
    
    .jumbotron-iSI {
        padding-top: 3rem;
        padding-bottom: 3rem;
        margin-bottom: 0;
    }